@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

/* shared styles */

.display-flex {
    display: flex;
}

.text-gray {
    color: #3A3A3A;
}


/* header styles */
.header {
    margin: 70px 120px;
}

.navbar {
    justify-content: space-between;
}

.brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar ul {
    gap: 34px;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
}

.navbar ul li a {
    text-decoration: none;
}

.navbar ul li img {
    width: 24px;
    height: 24px;
    color: #3A3A3A;
}

.banner {
    align-items: center;
    gap: 130px;
    margin: 50px 0px 70px;
}

.banner-title {
    font-weight: bold;
    font-size: 3.25rem;
    margin: 0px;
}

.banner-description {
    font-weight: 600;
    font-size: 1rem;
    margin: 16px 0px;
}

.preebook-btn {
    width: 196px;
    height: 44px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #E02C6D;
    color: white;
    border-radius: 41px;
    border: none;
    padding: 10px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.preebook-btn img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
}

.banner-image {
    background-image: url(../images/Circle\ design.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 475px;
    height: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sponsor section styles */
.sponsor-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 30px;
    margin: 0px 165px 100px;
    justify-items: center;
}

/* responsive styles */

/* mobile device responsive */
@media screen and (max-width:576px) {

    .navbar,
    .nav-content {
        flex-direction: column;
    }

    .header {
        margin: 35px 16px 50px;
        text-align: center;
    }

    .banner {
        flex-direction: column-reverse;
        margin: 14px 0px;
    }

    .banner-content {
        justify-items: center;
        margin-top: 0px;
    }

    .banner-image {
        width: 257px;
        height: 257px;
        margin-top: 22px;
        margin-bottom: 0px;
    }

    .banner-image img {
        width: 202px;
        height: 190px;
    }

    .sponsor-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 0px 16px 50px;
        justify-content: center;
    }

}